@import models.Person.Student
@(student: Student)
@main("Product form") {

    <table class="table table-bordered" >
        <p>
            <tr>
                <td>MSSV:</td>
                <td>@student.MSSV</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Name:</td>
                <td>@student.name</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Birthday:</td>
                <td>@student.birthday</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Adress:</td>
                <td>@student.adress</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Phone:</td>
                <td>@student.phone</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Email:</td>
                <td>@student.email</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Pass:</td>
                <td>@student.pass</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Khóa:</td>
                <td>@student.khóa</td>
            </tr>
        </p>
        <p>
            <tr>
                <td>Ngành:</td>
                <td>@student.ngành</td>
            </tr>
        </p>

    </table>




}