@import models.Person.Student
@(students : List[Student])

@main("List Student"){
    <h2>All students</h2>
    <script>

    function del(urlToDelete) {

    $.ajax ( {

    url : urlToDelete,

    type : 'DELETE',

    success : function ( results ) {

    // Refresh the page

    location.reload ( ) ;

    }

    } ) ;

    }

    </script>
    <table class="table table-striped">

        <thead>

            <tr>

                <th>MSSV</th>

                <th>Name</th>
                <th>birthday</th>
                <th>adress</th>
                <th>phone</th>
                <th>email</th>
                <th>pass</th>
                <th>khóa</th>
                <th>ngành</th>

                <th> </th>
            </tr>

        </thead>

        <tbody>

        @for(student <- students) {

            <tr>

                <td><a href="@routes.Persons.details(student.MSSV)">@student.MSSV</a></td>

                <td><a href="@routes.Persons.details(student.MSSV)">@student.name</a></td>

                <td><a href="@routes.Persons.details(student.MSSV)">@student.birthday</a></td>
                <td><a href="@routes.Persons.details(student.MSSV)">@student.adress</a></td>
                <td><a href="@routes.Persons.details(student.MSSV)">@student.phone</a></td>
                <td><a href="@routes.Persons.details(student.MSSV)">@student.email</a></td>
                <td><a href="@routes.Persons.details(student.MSSV)">@student.pass</a></td>
                <td><a href="@routes.Persons.details(student.MSSV)">@student.khóa</a></td>
                <td><a href="@routes.Persons.details(student.MSSV)">@student.ngành</a></td>
                <td><a onclick="del('@routes.Persons.delete(student.MSSV)')"><span class="glyphicon glyphicon-trash"></span></a></td>

            </tr>

        }

        </tbody>

    </table>
    <a href="@routes.Persons.newPerson()" class="btn btn-primary">New</a>



}