@import models.Person.Student
@()
@main("Product form") {
    <form action="@routes.Persons.save()" method="post">
        <h1> Creat new Student </h1>
        <p>
            <label for="MSSV" class="MSSV" data-icon="u">MSSV:</label>
            <input id="MSSV" name="MSSV" required="required" type="text" placeholder="MSSV" />
        </p>
        <p>
            <label for="name" class="name" data-icon="u">Name:</label>
            <input id="name" name="name" required="required" type="text" placeholder="Name" />
        </p>

        <p>
            <label for="passwordsignup" class="youpasswd" data-icon="p">Password:</label>
            <input id="passwordsignup" name="pass" required="required" type="password" placeholder="Password"/>
        </p>
        <p>
            <label for="passwordsignup_confirm" class="password" data-icon="p">Confirm Password:</label>
            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="Password"/>
        </p>
        <p>
            <label for="emailsignup" class="youmail" data-icon="e" >Email:</label>
            <input id="emailsignup" name="email" required="required" type="email" placeholder="abc@@gmail.com"/>
        </p>
        <p>
            <label for="Adress" class="Adress" data-icon="u">Adress:</label>
            <input id="Adress" name="Adress" required="required" type="text" placeholder="" />
        </p>
        <p>
            <label for="phone" class="Adress" data-icon="u">Phone:</label>
            <input id="phone" name="phone" required="required" type="text" placeholder="" />
        </p>
        <p>
            <label>Date of Birth:</label>
            <select name="month" onChange="changeDate ( this.options[ selectedIndex ].value ) ;">
                <option value="na">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <select name="day" id="day">
                <option value="na">Day</option>
            </select>
            <select name="year" id="year">
                <option value="na">Year</option>
            </select>
            <script language="JavaScript" type="text/javascript">
            function changeDate ( i ) {
            var e = document.getElementById ( 'day' ) ;
            while ( e.length > 0 )
            e.remove ( e.length - 1 ) ;
            var j = - 1 ;
            if ( i == "na" )
            k = 0 ;
            else if ( i == 2 )
            k = 28 ;
            else if ( i == 4 || i == 6 || i == 9 || i == 11 )
            k = 30 ;
            else
            k = 31 ;
            while ( j ++ < k ) {
            var s = document.createElement ( 'option' ) ;
            var e = document.getElementById ( 'day' ) ;
            if ( j == 0 ) {
            s.text = "Day" ;
            s.value = "na" ;
            try {
            e.add ( s, null ) ; }
            catch ( ex ) {
            e.add ( s ) ; } }
            else {
            s.text = j ;
            s.value = j ;
            try {
            e.add ( s, null ) ; }
            catch ( ex ) {
            e.add ( s ) ; } } } }
            y = 1998 ;
            while ( y -- > 1908 ) {
            var s = document.createElement ( 'option' ) ;
            var e = document.getElementById ( 'year' ) ;
            s.text = y ;
            s.value = y ;
            try {
            e.add ( s, null ) ; }
            catch ( ex ) {
            e.add ( s ) ; } }
            </script>
        </p>
        <p>
            <label>Ngành:</label>
            <select name="Ngành">
                <option value="CNTT">CNTT</option>
                <option value="CNPM">CNPM</option>
            </select>
        </p>
        <p>
            <label>Khóa:</label>
            <input type="text" name="Khóa" >
        </p>
        <p>
            <label>Gender:</label>
            <select name="Gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </p>
        <p class="creat button">
            <input type="submit" value="Creat"/>
        </p>
    </form>

}