@main("login") {
    <head>
        <title>Login </title>
    </head>
    <h1>Login</h1>
    <body>
        <form method="post">
            <table>
                <tr>
                    <td><label>Username </label></td>
                    <td><input type="text" name="Login" value="" placeholder="User or Email"></td>
                </tr>
                <tr>
                    <td><label>Password </label></td>
                    <td><input type="password" name="Password" value="" placeholder="Password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="Password">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>


}